.body {
	min-width: 100%;
	text-align: center;
}

.all {
	width: 50%;
	margin: 0 auto;
}

.likes {
	height: 10px !important;
	padding: 0 !important width: 50%;
	padding: 0 !important;
	float: left;
	width: 50%;
	background: #448aff;
	-webkit-border-radius: 10px 0px 0px 10px;
    border: 0px solid #000000;
}

.dislikes {
	height: 10px !important;
	padding: 0 !important width: 50%;
	padding: 0 !important;
	float: right;
	width: 50%;
	background: #c62828; 
	-webkit-border-radius: 0px 10px 10px 0px;
    border: 0px solid #000000;
}
}

.bar {
	margin: 0 auto;
	width: 60%;
}

.centrado{
    position: absolute;
    top: em;
    left: 550px;
    width: 21%;
    align-self: center;
}

.individual1{
	float:left;
}
.individual2{
	float:right;
}
}