body {
    background-image: url('../img/medium-sky-blue-solid.jpg');
}

.base-column {
    background: #fff;
}

#fetch-loader {
    margin-top: 10px;
    display: none;
}

.no-back {
    background: transparent;
}

.tab a.active {
    color: #4db6ac !important;
    background-color: #fff !important;
}

.tabs .tab a:hover {
    background-color: #fff !important;
    color: #4db6ac !important;
}

.tabs .tab a {
    color: #b2dfdb !important;
}

.tabs .indicator {
    background-color: #4db6ac !important;
}
